
html {
    font-feature-settings: "cv01", "cv02";
    color: var(--text-fg);
    background: #000;
    font-family: var(--main-font);
}

table, td, tr, th {
    border-collapse: collapse;
    border: 1px solid #fff;
    text-align: center;
}

/* th, td {
    min-width: 45px;
    min-height: 45px;
} */
