
@import url(base.css);

body {
    text-align: center;
}

table {
    width: 90%;
    position: relative;
    left: 5%;
    right: 5%;
}

th, td { height: 50%; }

th {
    font-size: 5dvh;
    padding-top:    1dvh;
    padding-bottom: 1dvh;
    color: #fff;
    background: #111111;
}

td {
    font-size: 3dvh;
    padding-top:    20px;
    padding-bottom: 20px;
}

td.command {
    font-family: "Fira Code";
    background: #333;
}

td.example {
    display: none;
    font-family: "Fira Code";
    background: #333;
    color: #ccc;
}

td.sep {
    background: #555;
}

td>hr {
    width: 90%;
}

@media screen and (max-width: 1080px) {
    th { font-size: 5dvw; }
    td { font-size: 2dvw; }
    bbr { display: block; }
}
