
.kbctrl {
    position: absolute;
    z-index: 99;

    top:  20%;
    left: 60%;
    transform: translate(-50%, 0%);

    display: none;
}

.kbctrl>input {
    font-family: var(--alt-font);
    font-size: 45px;
    background: var(--btn-bg);
    color: var(--text-fg);
    padding: 5px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    outline: 0;
}

.kbctrl>p {
    text-align: center;
    font-family: var(--alt-font);
    font-size: 20px;
    background: var(--top-bg);
    color: var(--text-fg);
    padding: 10px 0px;
    /* height: 50px; */
    border-radius: 5px;
    border: 0;
    outline: 0;
}

.kbstatus {
    font-family: var(--alt-font);
    font-size: 30px;
    min-width: 400px;
    min-height: 40px;

    border-radius: 5px;
    border: 1px solid #fff;
    padding: 5px 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);

    position: absolute;
    z-index: 99;

    top: 15%;
    right: 1%;
    /* transform: translate(-50%, 0%); */

    display: none;
}
