/* kbctrl.css */

#kbctrl {
    /* font */

    /* appearance */

    /* display */
    display: none;
    top:  25%;
    left: 60%;
    transform: translate(-50%, 0%);
    position: absolute;
    z-index: 99;

    /* other */
}

#kbctrl > input {
    /* font */
    font-family: var(--alt-font);
    font-size: 3dvw;

    /* appearance */
    color: var(--text-fg);
    background: var(--btn-bg);
    border: none;
    border-radius: var(--bdrs);
    outline: none;

    /* display */
    padding: 1dvh 1dvw;
    height: 3.5dvw;

    /* other */
}

#kbctrl > p {
    /* font */
    text-align: center;
    font-family: var(--alt-font);
    font-size: 2dvw;

    /* appearance */
    color: var(--text-fg);
    background: var(--btn-bg);
    border: none;
    border-radius: var(--bdrs);
    outline: none;

    /* display */
    padding: 1dvh 1dvw;

    /* other */
}

#kbstatus {
    /* font */
    font-family: var(--alt-font);
    font-size: 2dvw;
    text-align: center;

    /* appearance */
    background: #222222;
    border: 1px solid #fff;
    border-radius: var(--bdrs);

    /* display */
    display: none;

    min-width: 25dvw;
    min-height: 2dvw;
    padding: 1dvh 2dvw;

    position: absolute;
    z-index: 99;
    top:  18%;
    right: 1%;

    /* other */
}

@media screen and (max-width: 1080px) {
    #kbctrl { left: 50%; }
}
