/* timer.css */

/* import */
@import url(base.css);
@import url(font.css);
@import url(kbctrl.css);

/* variable */
:root {
    /* font */
    --main-font: "jf";
    --alt-font: "Fira Code";

    /* color */
    --text-fg: #fff;
    --sc-fg: #fff;
    --next-fg: #40eeee;
    --title-fg: #818181;
    --best: #ff0;
    --TMD-fg: #ccc;

    /* background */
    --bg: #000;
    --btn-bg: #404040;
    --top-bg: #151515;
    --side-bg: #202020;
    --sc-display-bg: #606060;
    --TMD-bg: #202020;

    /* hover&click */
    --main-hover: #404040;
    --main-click: #303030;
    --alt-hover: #303030;
    --alt-click: #202020;

    --idx-hover: #151515;

    --copy-hover: #404040;
    --copy-click: #202020;

    /* bdrs */
    --bdrs: 5px;
}

/* [ CENTER ] */

#top {
    /* font */

    /* appearance */
    background: var(--top-bg);

    /* display */
    height: 18dvh;
    width: 80dvw;

    /* other */
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
}

select {
    /* font */
    font-family: var(--alt-font);
    text-align: center;

    /* appearance */
    color: var(--text-fg);
    background: var(--btn-bg);
    border: none;
    border-radius: var(--bdrs);
    appearance: none;

    /* display */
    /* min-height: 40px; */
    height: 5dvh;

    /* min-width: 120px; */
    width: 8dvw;

    padding: 2px;
}

select:hover  { background: var(--alt-hover); }
select:active { background: var(--alt-click); }


#change-scramble {
    font-size: 2rem;
    margin: 2dvh 1dvw;
}
#change-scramble > select { font-size: 2dvh; }

.click {
    /* font */

    /* appearance */
    color: var(--next-fg);
    border-radius: var(--bdrs);

    /* display */
    padding: 0px 10px;

    /* other */
    cursor: pointer;
    user-select: none;
}

.click:hover  { background: var(--main-hover); }
.click:active { background: var(--main-click); }

.center {
    display: flex;
    justify-content: center;
}

scramble {
    /* font */
    font-size: 2rem;
    font-family: var(--alt-font);
    text-align: center;

    /* display */
    display: block;
    width: 90%;
    margin: 1dvh auto;
}

scramble > a {
    /* font */

    /* appearance */
    border-radius: var(--bdrs);

    /* display */
    padding: 0px 10px;

    /* other */
    cursor: pointer;
}

scramble > a:hover  { background: var(--main-hover); }
scramble > a:active { background: var(--main-click); }

/* [ SIDEBAR ] */

#side::-webkit-scrollbar { display: none; }

#side {
    /* font */
    font-size: 1rem;
    text-align: center;

    /* appearance */
    background: var(--side-bg);

    /* display */
    position: fixed;
    z-index: 1;
    height: 100dvh;
    width: 20dvw;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* other */
    overflow-x: hidden;
}

#title {
    /* font */
    font-size: 2.5rem;

    /* appearance */
    color: var(--title-fg);

    /* display */

    /* other */
    cursor: pointer;
    user-select: none;

}

#sessionStatic {
    /* font */

    /* appearance */
    border: 1px solid #fff;

    /* display */
    display: block;
    height: 22dvh;
    width: 90%;
    margin-top: 15px;
    margin-bottom: -1px;

    padding: 0 0;

    /* other */
}

#session-select {
    font-size: 1.2rem;
}

#timeLogDiv::-webkit-scrollbar { display: none; }
#timeLogDiv {
    /* font */

    /* appearance */

    /* display */
    display: flex;
    width: 100%;
    height: 55%;
    flex-direction: column;
    align-items: center;

    /* other */
    overflow-x: hidden;
    overflow-y: auto;
}

#head { margin-bottom: -1px; }
.best { color: var(--best); }

th, td {
    height: 5dvh;
    width: 28%;
}

table { width: 90%; }
.idx:hover { background: var(--idx-hover); }
.idx  {
    width: 16%;
    cursor: pointer;
    user-select: none;
}

/* [ CENTER ] */

#center {
    /* font */
    text-align: center;

    /* appearance */

    /* display */
    width: 80dvw;
    height: 82dvh;

    position: absolute;
    bottom: 0%;
    right: 0%;

    /* other */
}

#timer {
    /* font */
    font-size: 10rem;

    /* appearance */
    border-radius: calc(var(--bdrs) * 2);

    /* display */
    width: 80%;
    padding: 0 2dvw;
    margin: 0;
    position: absolute;
    top:  45%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform:     translate(-50%, -50%);

    /* other */
    cursor: pointer;
    user-select: none;
}

#punishDiv {
    /* font */

    /* appearance */

    /* display */
    position: absolute;
    top:  60%;
    left: 50%;

    display: flex;
    gap: 2dvw;
    justify-content: center;

    -ms-transform: translate(-50%, -50%);
    transform:     translate(-50%, 0%);

    /* other */
}

.punishBtn {
    /* font */
    font-size: 2rem;
    font-family: var(--alt-font);

    /* appearance */
    color: var(--btn-fg);
    background: var(--btn-bg);
    border: none;
    border-radius: calc(var(--bdrs) * 2);

    /* display */
    width:  8dvw;
    height: 8dvh;

    /* other */
    cursor: pointer;
}

.punishBtn:hover  { background: var(--alt-hover); }
.punishBtn:active { background: var(--alt-click); }

#sc-display {
    /* font */

    /* appearance */
    background: var(--sc-display-bg);
    border-radius: var(--bdrs);

    /* display */
    width: 20%;
    padding: 1dvh 1dvw;
    position: absolute;
    bottom: 1%;
    right: 1%;
    transform: translate(0%, 0%);

    /* other */
}

/* [ TMD ] */

#TMD {
    /* font */
    text-align: center;

    /* appearance */
    background: var(--TMD-bg);
    border-radius: calc(var(--bdrs) * 2);
    opacity: 0.99;

    /* display */
    display: none;
    width:  50%;
    height: 50%;
    align-items: center;
    z-index: 5;

    position: absolute;
    top:  55%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform:     translate(-50%, -50%);

    /* other */
}

#TMD-Close {
    /* font */
    font-size: 1.5rem;

    /* appearance */
    color: var(--text-fg);
    background: var(--btn-bg);
    border: none;
    border-radius: 10px;

    /* display */
    width:  3rem;
    height: 3rem;
    margin: 1rem;
    position: absolute;
    top:  0;
    left: 0;

    /* other */
    cursor: pointer;
}

#TMD-SolveN {
    /* font */
    font-size: 2rem;

    /* appearance */

    /* display */
    height: 0;

    /* other */
}

#TMD-SolveT { font-size: 3rem; }
#TMD-SolveT > a {
    /* font */

    /* appearance */
    border-radius: var(--bdrs);

    /* display */
    padding: 0 1dvh;

    /* other */
    cursor: pointer;
}

#TMD-Punishes {
    /* font */

    /* appearance */

    /* display */
    margin: -1dvh 0;

    display: flex;
    gap: 1dvw;
    justify-content: center;
    align-items: center;

    /* other */
}

.TMD-PunishB {
    /* font */
    font-size: 1.2rem;
    font-family: var(--alt-font);

    /* appearance */
    color: var(--text-fg);
    background: var(--btn-bg);
    border-radius: 5px;
    border: none;

    /* display */
    width:  4.5dvw;
    height: 4.5dvh;

    /* other */
    cursor: pointer;
}

#TMD-Cube {
    font-size: 2rem;
    height: 1rem;
}
#TMD-Cube > a {
    /* font */
    font-size: 1.5rem;

    /* appearance */
    border-radius: 3px;

    /* display */

    /* other */
    cursor: pointer;
}

#TMD-Scramble {
    font-size: 2rem;
    height: 1rem;
}
#TMD-Scramble > a {
    /* font */
    font-size: 1.5rem;

    /* appearance */
    border-radius: var(--bdrs);

    /* display */

    /* other */
    cursor: pointer;
}

#TMD-Date {
    font-size: 2rem;
    height: 1rem;
}
#TMD-Date > a {
    /* font */
    font-size: 1.5rem;

    /* appearance */
    border-radius: var(--bdrs);

    /* display */

    /* other */
    cursor: pointer;
}

#TMD-Delete {
    /* font */
    font-size: 1.5rem;

    /* appearance */
    color: var(--text-fg);
    background: var(--btn-bg);
    border: none;
    border-radius: var(--bdrs);

    /* display */
    width:  6dvw;
    height: 6dvh;

    /* other */
    cursor: pointer;
}
